* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: Norse-Bold;
	src: url("../fonts/Norse-Bold.otf");
}

.container {
	display: grid;
	grid-template-columns: 1fr 2fr;
	width: 100vw;
	height: 100vh;
	font-family: ubuntu, sans-serif;
}

/*side images and log and credit **************************/
.left-side {
	background: lavender;
	background-image: url("../images/fern.jpg");
	background-size: cover;
	background-position: center;
	position: relative;
}

.text {
	position: absolute;
	top: 15%;
	background: rgba(0, 0, 0, 0.7);
	width: 100%;
	padding: 10px;
	font-family: Norse-Bold, sans-serif;
	font-size: 5rem;
	font-weight: 900;
	color: rgba(255, 255, 255, 1);

	display: flex;
	justify-content: center;
	align-items: center;
}
.logo > img{
	width: 5rem;
}
.credit {
	--white-color: rgba(255, 255, 255, 0.8);
	position: absolute;
	bottom: 5px;
	color: var(--white-color);
	width: 100%;
	text-align: center;
	font-weight: normal;
	font-size: 0.7rem;
}
.credit a:visited, .credit a:link{
	color: var(--white-color);
}


/*Form side styling*/

/*Typing inputs *******************/
.right-side {
	background: hsl(210deg 20% 98%);
}
.message, .typing-inputs, .non-typing-inputs {
	padding-left: 30px;
}
.message {
	padding: 100px 100px 40px 30px;
}
.typing-inputs {
	display: grid;
	grid-template-columns: auto 1fr;
	column-gap: 70px;
	grid-row-gap: 20px;

	padding: 20px 0 20px 30px;
	width: 100%;
	background: hsl(0deg 0% 100%);
	color: hsl(214deg 16% 26%);
	box-shadow: 0px 3px 8px -5px #888888;
}

.typing-inputs input, .typing-inputs label {
	display: block;
}
.typing-inputs label {
	padding-bottom: 10px;
}

.typing-inputs input {
	padding: 5px 8px;
	width: 100%;
	min-width: 250px;
	max-width: 300px;
	font-size: 1rem;
	font-weight: 500;
	border: 1px solid #00000015;
	border-radius: 4px;
}
.typing-inputs input:focus {
	outline: none;
	border: 1px solid rgba(0, 0, 255, 0.8);
	box-shadow: 1px 3px 6px -2px rgba(0, 0, 255, 0.3);
}
.typing-inputs input[type=password]:focus {
	border: 1px solid red;
	box-shadow: none;
}
.non-typing-inputs {
	padding-top: 40px;
}

/*non-typing inputs (submit button and link)**********/
.submit-btn {
	padding: 10px 30px;
	margin: 0 0 20px 0;
	background: rgb(89 109 72);
	color: white;
	font-weight: 600;
	border-radius: 5px;
	border: 1px solid rgb(109 126 94);
}
.submit-btn:hover {
	background: rgb(89 109 72/90%);
	cursor: pointer;
}
.submit-btn:active {
	background: rgb(89 109 72/80%);
}

.non-typing-inputs a {
	font-weight: 600;
	text-decoration: none;
}
.non-typing-inputs a:visited, .non-typing-inputs a:link {
	color: rgb(89 109 72);
}